<%@ Template Language="C#" TargetLanguage="HTML" %>
<%@ Property Name="InputName" Type="System.String" %>
<%@ Property Name="ModelName" Type="System.String" Default="Model." %>
<%@ Property Name="Required" Type="System.Boolean" Default="false" %>
<%
var placeHolder = StringUtil.ToSpacedWords(InputName);
%>


<div class="mb-3">
    <label for="<%= InputName %>" class="form-label">
        <%= placeHolder %>:<% if (Required) { %> <span class="text-danger">*</span> <% } %>
    </label>
    <InputText @bind-Value="<%= ModelName %><%= InputName %>"
               DisplayName="<%= placeHolder %>"
               id="<%= InputName %>"
               name="<%= InputName %>"
               class="form-control"
               placeholder="<%= placeHolder %>" />
    <ValidationMessage For="@(() => <%= ModelName %><%= InputName %>)" />
</div>

