<%@ Template Language="C#" TargetLanguage="Text" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Property Name="Items" Type="CodeSmith.CustomProperties.StringCollection" %>
<% foreach(var item in Items) { %>
<% if (string.IsNullOrEmpty(item)) { continue; } %>
[JsonSerializable(typeof(<%= item %>))]
[JsonSerializable(typeof(IReadOnlyCollection<<%= item %>>))]
<% } %>
<script runat="template">

</script>