<%@ Template Language="C#" TargetLanguage="SQL" Debug="True" %>

<%@ Property Name="TableName" Type="System.String" Optional="False" %>
<%@ Property Name="SchemaName" Type="System.String" Optional="False" Default="dbo" %>

CREATE TABLE [<%= SchemaName %>].[<%= TableName %>]
(
    [Id] INT NOT NULL,
    [Name] NVARCHAR(100)  NOT NULL,
    [Description] NVARCHAR(255)  NULL,

    [DisplayOrder] INT NOT NULL CONSTRAINT [DF_<%= TableName %>_DisplayOrder] DEFAULT (0),

    [IsActive] BIT NOT NULL CONSTRAINT [DF_<%= TableName %>_IsActive] DEFAULT (1),

    [Created] DATETIMEOFFSET NOT NULL CONSTRAINT [DF_<%= TableName %>_Created] DEFAULT (SYSUTCDATETIME()),
    [CreatedBy] NVARCHAR(100) NULL,
    [Updated] DATETIMEOFFSET NOT NULL CONSTRAINT [DF_<%= TableName %>_Updated] DEFAULT (SYSUTCDATETIME()),
    [UpdatedBy] NVARCHAR(100) NULL,
    [RowVersion] ROWVERSION NOT NULL,

    CONSTRAINT [PK_<%= TableName %>] PRIMARY KEY CLUSTERED ([Id] ASC), 
)
