<%@ Template Language="C#" TargetLanguage="TypeScript" Debug="True" %>
<%@ Property Name="ModuleName" Type="System.String" %>
<%@ Property Name="ServiceName" Type="System.String" %>

/// <reference path="../_ref.ts" />

module <%= ModuleName %> {
    "use strict";

    export class <%= ServiceName %> {
        static $inject = [
        ];

        constructor() {
        }
    }

    // register service
    angular.module(<%= ModuleName %>.applicationName).service('<%= StringUtil.ToCamelCase(ServiceName) %>', [
        <%= ServiceName %>
    ]);
}