<%@ Template Language="C#" TargetLanguage="SQL" Debug="True" %>

<%@ Property Name="TableName" Type="System.String" Optional="False" %>
<%@ Property Name="SchemaName" Type="System.String" Optional="False" Default="dbo" %>
<%@ Property Name="ForeignName" Type="System.String" Optional="True" %>
<%@ Property Name="SystemVersioning" Type="System.Boolean" Optional="False" Default="False" %>
<%@ Property Name="HistoryTableFormat" Type="System.String" Optional="False" Default="[History].[{0}]" %>
<%@ Property Name="PrimaryKeyFormat" Type="System.String" Optional="True" %>
<%@ Property Name="SystemVerionStartName" Type="System.String" Optional="False" Default="PeriodStart" %>
<%@ Property Name="SystemVerionEndName" Type="System.String" Optional="False" Default="PeriodEnd" %>
<%
var primaryKeyColumn = string.IsNullOrWhiteSpace(PrimaryKeyFormat) ? "Id" : string.Format(PrimaryKeyFormat, TableName);
%>

CREATE TABLE [<%= SchemaName %>].[<%= TableName %>]
(
    [<%= primaryKeyColumn %>] UNIQUEIDENTIFIER NOT NULL CONSTRAINT [DF_<%= TableName %>_<%= primaryKeyColumn %>] DEFAULT (NEWSEQUENTIALID()),
    [Name] NVARCHAR(100) NOT NULL,
    [Description] NVARCHAR(255) NULL,

<% if (!string.IsNullOrEmpty(ForeignName)) { %>
    [<%= ForeignName %>Id] UNIQUEIDENTIFIER NOT NULL,

<% } %>
    [Created] DATETIMEOFFSET NOT NULL CONSTRAINT [DF_<%= TableName %>_Created] DEFAULT (SYSUTCDATETIME()),
    [CreatedBy] NVARCHAR(100) NULL,
    [Updated] DATETIMEOFFSET NOT NULL CONSTRAINT [DF_<%= TableName %>_Updated] DEFAULT (SYSUTCDATETIME()),
    [UpdatedBy] NVARCHAR(100) NULL,
    [RowVersion] ROWVERSION NOT NULL,
<% if (SystemVersioning) { %>

    [<%= SystemVerionStartName %>] DATETIME2 GENERATED ALWAYS AS ROW START NOT NULL CONSTRAINT [DF_<%= TableName %>_<%= SystemVerionStartName %>] DEFAULT (SYSUTCDATETIME()),
    [<%= SystemVerionEndName %>] DATETIME2 GENERATED ALWAYS AS ROW END NOT NULL CONSTRAINT [DF_<%= TableName %>_<%= SystemVerionEndName %>] DEFAULT ('9999-12-31 23:59:59.9999999'), 
    PERIOD FOR SYSTEM_TIME ([<%= SystemVerionStartName %>], [<%= SystemVerionEndName %>]),
<% } %>

    CONSTRAINT [PK_<%= TableName %>] PRIMARY KEY NONCLUSTERED ([<%= primaryKeyColumn %>] ASC),
<% if (!string.IsNullOrEmpty(ForeignName)) { %>
    CONSTRAINT [FK_<%= TableName %>_<%= ForeignName %>_<%= ForeignName %>Id] FOREIGN KEY ([<%= ForeignName %>Id]) REFERENCES [<%= SchemaName %>].[<%= ForeignName %>]([Id]),
<% } %>
)<% if (!SystemVersioning) { %>;<% } %>
<% if (SystemVersioning) { %>
WITH 
(
    SYSTEM_VERSIONING = ON 
    (
        HISTORY_TABLE = <%= string.Format(HistoryTableFormat, TableName) %>,
        DATA_CONSISTENCY_CHECK = ON
    )
);
<% } %>

GO
CREATE NONCLUSTERED INDEX [IX_<%= TableName %>_Name]
ON [<%= SchemaName %>].[<%= TableName %>] ([Name]);

<% if (!string.IsNullOrEmpty(ForeignName)) { %>
GO
CREATE NONCLUSTERED INDEX [IX_<%= TableName %>_<%= ForeignName %>Id]
ON [<%= SchemaName %>].[<%= TableName %>] ([<%= ForeignName %>Id]);

<% } %>
