<%@ Template Language="C#" TargetLanguage="SQL" Debug="True" %>

<%@ Property Name="TableName" Type="System.String" Optional="False" %>
<%@ Property Name="SchemaName" Type="System.String" Optional="False" Default="dbo" %>
<%@ Property Name="ForeignName" Type="System.String" Optional="True" %>

CREATE TABLE [<%= SchemaName %>].[<%= TableName %>]
(
    [Id] UNIQUEIDENTIFIER NOT NULL CONSTRAINT [DF_<%= TableName %>_Id] DEFAULT (NEWSEQUENTIALID()),
    [Name] NVARCHAR(100) NOT NULL,
    [Description] NVARCHAR(255) NULL,

<% if (!string.IsNullOrEmpty(ForeignName)) { %>
    [<%= ForeignName %>Id] UNIQUEIDENTIFIER NOT NULL,

<% } %>
    [Created] DATETIMEOFFSET NOT NULL CONSTRAINT [DF_<%= TableName %>_Created] DEFAULT (SYSUTCDATETIME()),
    [CreatedBy] NVARCHAR(100) NULL,
    [Updated] DATETIMEOFFSET NOT NULL CONSTRAINT [DF_<%= TableName %>_Updated] DEFAULT (SYSUTCDATETIME()),
    [UpdatedBy] NVARCHAR(100) NULL,
    [RowVersion] ROWVERSION NOT NULL,

    CONSTRAINT [PK_<%= TableName %>] PRIMARY KEY NONCLUSTERED ([Id] ASC),
    CONSTRAINT [FK_<%= TableName %>_<%= ForeignName %>_<%= ForeignName %>Id] FOREIGN KEY ([<%= ForeignName %>Id]) REFERENCES [<%= SchemaName %>].[<%= ForeignName %>]([Id]),
)

GO
CREATE NONCLUSTERED INDEX [IX_<%= TableName %>_Name]
ON [<%= SchemaName %>].[<%= TableName %>] ([Name])

GO
CREATE NONCLUSTERED INDEX [IX_<%= TableName %>_<%= ForeignName %>Id]
ON [<%= SchemaName %>].[<%= TableName %>] ([<%= ForeignName %>Id])

