<%@ CodeTemplate Language="C#" TargetLanguage="SQL" Debug="True" Description="Generate Insert Stored Procedure." %>

<%@ Property Name="Names" Type="System.Collections.Generic.List<string>" %>

<% foreach (var name in Names) { %>

-- table <%= name %>
ALTER TABLE [dbo].[<%= name %>] SET (SYSTEM_VERSIONING = OFF);
GO

EXEC sp_rename 'dbo.<%= name %>.Key', 'UserProfileKey', 'COLUMN';  
GO

EXEC sp_rename 'History.<%= name %>.Key', 'UserProfileKey', 'COLUMN';  
GO

ALTER TABLE [dbo].[<%= name %>] SET (SYSTEM_VERSIONING = ON (HISTORY_TABLE=[History].[<%= name %>], DATA_CONSISTENCY_CHECK=ON));
GO

<% } %>